streamlit==1.45.1
scikit-learn==1.6.1
tensorflow==2.19.0
torch==2.7.0
torchvision==0.22.0  # Update this line
transformers==4.51.3
gensim==4.3.3
nltk==3.9.1
pandas==2.2.3
numpy==1.26.4
requests==2.32.3
tqdm==4.67.1
regex==2024.11.6